@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Calculadora-Division</h1>

<div class="color" />

<form asp- controller="Home" asp-action="Division">

    <div class="card" />

    <label>Dato1</label>

    @if (ViewBag.DatoN1V == 0)
    {
        <input type="text" placeholder="Coloca tu primer numero" name="DatoN1" class="form-control" min="0" max="10" />
    }

    else
    {
        <input type="text" placeholder="Coloca tu primer numero" name="DatoN1" value="@ViewBag.DatoN1V = DatoN1;" class="form-control" min="0" max="10" />
    }

    <label>Dato2</label>

    @if (ViewBag.DatoN2V == 0)
    {
        <input type="text" placeholder="Coloca tu segundo numero" name="DatoN2" class="form-control" min="0" max="10" />
    }

    else
    {
        <input type="text" placeholder="Coloca tu segundo numero" name="DatoN2" value="@ViewBag.DatoN2V = DatoN2;" class="form-control" min="0" max="10" />
    }

    <button class="btn btn-primary">Multiplicar datos</button>


    <label>Resultado</label>
    <label>@ViewBag.VariableAEnviar</label>

</form>

